body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1011px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:692px;
  top:421px;
  width:319px;
  height:125px;
  font-size:36px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:125px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:315px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:370px;
  top:421px;
  width:319px;
  height:125px;
  font-size:36px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:125px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:315px;
  word-wrap:break-word;
}
