body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:30px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4C4C4C;
  line-height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:30px;
}
#u1 {
  position:absolute;
  left:24px;
  top:7px;
  width:1212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:888px;
  width:1260px;
  height:60px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:60px;
}
#u3 {
  position:absolute;
  left:24px;
  top:22px;
  width:1212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:30px;
  width:1260px;
  height:860px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4C4C4C;
  line-height:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:860px;
}
#u5 {
  position:absolute;
  left:0px;
  top:422px;
  width:1260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:30px;
  width:30px;
  height:860px;
  opacity:0.400000005960464;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4C4C4C;
  line-height:12px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:860px;
}
#u7 {
  position:absolute;
  left:0px;
  top:424px;
  width:30px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:190px;
  top:110px;
  width:880px;
  height:780px;
  opacity:0.400000005960464;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4C4C4C;
  line-height:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:780px;
}
#u9 {
  position:absolute;
  left:0px;
  top:384px;
  width:880px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1230px;
  top:30px;
  width:30px;
  height:860px;
  opacity:0.400000005960464;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4C4C4C;
  line-height:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:860px;
}
#u11 {
  position:absolute;
  left:0px;
  top:424px;
  width:30px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:30px;
  width:400px;
  height:860px;
  opacity:0.400000005960464;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4C4C4C;
  line-height:12px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:860px;
}
#u13 {
  position:absolute;
  left:0px;
  top:424px;
  width:400px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:990px;
  top:30px;
  width:80px;
  height:80px;
  opacity:0.400000005960464;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4C4C4C;
  line-height:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u15 {
  position:absolute;
  left:0px;
  top:34px;
  width:80px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:150px;
  width:1260px;
  height:48px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3D55B8;
  text-align:center;
  line-height:24px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:48px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:630px;
  top:220px;
  width:10px;
  height:728px;
}
#u18_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u18_end {
  position:absolute;
  left:-5px;
  top:711px;
  width:20px;
  height:18px;
}
#u18_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:728px;
}
#u19 {
  position:absolute;
  left:0px;
  top:158px;
  width:530px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:513px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:530px;
  height:1px;
}
#u20 {
  position:absolute;
  left:630px;
  top:0px;
  width:10px;
  height:140px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:123px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:140px;
}
#u21 {
  position:absolute;
  left:730px;
  top:158px;
  width:530px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:513px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:530px;
  height:1px;
}
#u22 {
  position:absolute;
  left:849px;
  top:843px;
  width:288px;
  height:36px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#4C4C4C;
  line-height:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:36px;
}
#u23 {
  position:absolute;
  left:0px;
  top:9px;
  width:288px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:828px;
  top:856px;
  width:12px;
  height:12px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4C4C4C;
  line-height:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u25 {
  position:absolute;
  left:0px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
