body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:540px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:36px;
  width:540px;
  height:540px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4C4C4C;
  line-height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:540px;
}
#u1 {
  position:absolute;
  left:24px;
  top:255px;
  width:492px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:420px;
  top:72px;
  width:37px;
  height:36px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:486px;
  top:72px;
  width:40px;
  height:36px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:36px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4C4C4C;
  line-height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:36px;
}
#u7 {
  position:absolute;
  left:24px;
  top:10px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:576px;
  width:540px;
  height:228px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:63px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:228px;
}
#u9 {
  position:absolute;
  left:108px;
  top:60px;
  width:408px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:432px;
  top:534px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:36px;
}
#u10_img {
  position:absolute;
  left:-6px;
  top:-3px;
  width:96px;
  height:96px;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u10_img.mouseDown {
}
#u10.mouseDown {
}
#u11 {
  position:absolute;
  left:24px;
  top:24px;
  width:36px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:900px;
  width:540px;
  height:72px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4C4C4C;
  line-height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:72px;
}
#u13 {
  position:absolute;
  left:24px;
  top:28px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:804px;
  width:540px;
  height:96px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:left;
  line-height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:96px;
}
#u15 {
  position:absolute;
  left:108px;
  top:33px;
  width:408px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:432px;
  top:804px;
  width:108px;
  height:96px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:right;
  line-height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:96px;
}
#u17 {
  position:absolute;
  left:12px;
  top:33px;
  width:72px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:24px;
  top:834px;
  width:37px;
  height:36px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:12px;
  top:60px;
  width:60px;
  height:60px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u21 {
  position:absolute;
  left:0px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
