body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:540px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:1068px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:1068px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:2436px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4C4C4C;
  text-align:left;
  line-height:30px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:2436px;
}
#u2 {
  position:absolute;
  left:24px;
  top:1210px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:12px;
  top:180px;
  width:516px;
  height:252px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4C4C4C;
  text-align:left;
  line-height:30px;
}
#u3_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:526px;
  height:262px;
}
#u4 {
  position:absolute;
  left:24px;
  top:20px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:96px;
  top:180px;
  width:432px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:432px;
  height:86px;
}
#u6 {
  position:absolute;
  left:24px;
  top:12px;
  width:384px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:12px;
  top:180px;
  width:84px;
  height:84px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#7D7D7D;
  text-align:center;
  line-height:38px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u10 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u8_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#1299F6;
  text-align:center;
  line-height:38px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u12 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:12px;
  top:180px;
  width:84px;
  height:84px;
  font-family:'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u13_img.mouseDown {
}
#u13.mouseDown {
}
#u13_img.disabled {
}
#u13.disabled {
  opacity:0.100000001490116;
}
#u14 {
  position:absolute;
  left:24px;
  top:34px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:96px;
  top:264px;
  width:432px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:432px;
  height:86px;
}
#u16 {
  position:absolute;
  left:24px;
  top:12px;
  width:384px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:12px;
  top:264px;
  width:84px;
  height:84px;
  overflow:hidden;
}
#u18_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#7D7D7D;
  text-align:center;
  line-height:38px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u20 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u18_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#1299F6;
  text-align:center;
  line-height:38px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u22 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:12px;
  top:264px;
  width:84px;
  height:84px;
  font-family:'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u23_img.mouseDown {
}
#u23.mouseDown {
}
#u23_img.disabled {
}
#u23.disabled {
  opacity:0.100000001490116;
}
#u24 {
  position:absolute;
  left:24px;
  top:34px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:96px;
  top:348px;
  width:432px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:432px;
  height:86px;
}
#u26 {
  position:absolute;
  left:24px;
  top:12px;
  width:384px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:12px;
  top:348px;
  width:84px;
  height:84px;
  overflow:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#7D7D7D;
  text-align:center;
  line-height:38px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u30 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u28_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#1299F6;
  text-align:center;
  line-height:38px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u32 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:12px;
  top:348px;
  width:84px;
  height:84px;
  font-family:'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u33_img.mouseDown {
}
#u33.mouseDown {
}
#u33_img.disabled {
}
#u33.disabled {
  opacity:0.100000001490116;
}
#u34 {
  position:absolute;
  left:24px;
  top:34px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:12px;
  top:432px;
  width:516px;
  height:252px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4C4C4C;
  text-align:left;
  line-height:30px;
}
#u35_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:526px;
  height:262px;
}
#u36 {
  position:absolute;
  left:24px;
  top:20px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:96px;
  top:432px;
  width:432px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:432px;
  height:86px;
}
#u38 {
  position:absolute;
  left:24px;
  top:12px;
  width:384px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:12px;
  top:432px;
  width:84px;
  height:84px;
  overflow:hidden;
}
#u40_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#7D7D7D;
  text-align:center;
  line-height:38px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u42 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u40_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#1299F6;
  text-align:center;
  line-height:38px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u44 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:12px;
  top:432px;
  width:84px;
  height:84px;
  font-family:'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:30px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u45_img.mouseDown {
}
#u45.mouseDown {
}
#u45_img.disabled {
}
#u45.disabled {
  opacity:0.100000001490116;
}
#u46 {
  position:absolute;
  left:24px;
  top:34px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:96px;
  top:516px;
  width:432px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:432px;
  height:86px;
}
#u48 {
  position:absolute;
  left:24px;
  top:12px;
  width:384px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:12px;
  top:516px;
  width:84px;
  height:84px;
  overflow:hidden;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#7D7D7D;
  text-align:center;
  line-height:38px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u52 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u50_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#1299F6;
  text-align:center;
  line-height:38px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u54 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:12px;
  top:516px;
  width:84px;
  height:84px;
  font-family:'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u55_img.mouseDown {
}
#u55.mouseDown {
}
#u55_img.disabled {
}
#u55.disabled {
  opacity:0.100000001490116;
}
#u56 {
  position:absolute;
  left:24px;
  top:34px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:96px;
  top:600px;
  width:432px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:432px;
  height:86px;
}
#u58 {
  position:absolute;
  left:24px;
  top:12px;
  width:384px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:12px;
  top:600px;
  width:84px;
  height:84px;
  overflow:hidden;
}
#u60_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u60_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#7D7D7D;
  text-align:center;
  line-height:38px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u62 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u60_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u60_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#1299F6;
  text-align:center;
  line-height:38px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u64 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:12px;
  top:600px;
  width:84px;
  height:84px;
  font-family:'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:30px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u65_img.mouseDown {
}
#u65.mouseDown {
}
#u65_img.disabled {
}
#u65.disabled {
  opacity:0.100000001490116;
}
#u66 {
  position:absolute;
  left:24px;
  top:34px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:12px;
  top:684px;
  width:516px;
  height:252px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4C4C4C;
  text-align:left;
  line-height:30px;
}
#u67_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:526px;
  height:262px;
}
#u68 {
  position:absolute;
  left:24px;
  top:20px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:96px;
  top:684px;
  width:432px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:30px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:432px;
  height:86px;
}
#u70 {
  position:absolute;
  left:24px;
  top:12px;
  width:384px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:12px;
  top:684px;
  width:84px;
  height:84px;
  overflow:hidden;
}
#u72_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#7D7D7D;
  text-align:center;
  line-height:38px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u74 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u72_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#1299F6;
  text-align:center;
  line-height:38px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u76 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:12px;
  top:684px;
  width:84px;
  height:84px;
  font-family:'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:30px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u77_img.mouseDown {
}
#u77.mouseDown {
}
#u77_img.disabled {
}
#u77.disabled {
  opacity:0.100000001490116;
}
#u78 {
  position:absolute;
  left:24px;
  top:34px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:96px;
  top:768px;
  width:432px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:30px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:432px;
  height:86px;
}
#u80 {
  position:absolute;
  left:24px;
  top:12px;
  width:384px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:12px;
  top:768px;
  width:84px;
  height:84px;
  overflow:hidden;
}
#u82_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u82_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#7D7D7D;
  text-align:center;
  line-height:38px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u84 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u82_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u82_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#1299F6;
  text-align:center;
  line-height:38px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u86 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:12px;
  top:768px;
  width:84px;
  height:84px;
  font-family:'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:30px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u87_img.mouseDown {
}
#u87.mouseDown {
}
#u87_img.disabled {
}
#u87.disabled {
  opacity:0.100000001490116;
}
#u88 {
  position:absolute;
  left:24px;
  top:34px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:96px;
  top:852px;
  width:432px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:30px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:432px;
  height:86px;
}
#u90 {
  position:absolute;
  left:24px;
  top:12px;
  width:384px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:12px;
  top:852px;
  width:84px;
  height:84px;
  overflow:hidden;
}
#u92_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u92_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#7D7D7D;
  text-align:center;
  line-height:38px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u94 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u92_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u92_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#1299F6;
  text-align:center;
  line-height:38px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u96 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:12px;
  top:852px;
  width:84px;
  height:84px;
  font-family:'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:30px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u97_img.mouseDown {
}
#u97.mouseDown {
}
#u97_img.disabled {
}
#u97.disabled {
  opacity:0.100000001490116;
}
#u98 {
  position:absolute;
  left:24px;
  top:34px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:480px;
  top:180px;
  width:48px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:84px;
}
#u100 {
  position:absolute;
  left:0px;
  top:24px;
  width:48px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:480px;
  top:264px;
  width:48px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:84px;
}
#u102 {
  position:absolute;
  left:0px;
  top:24px;
  width:48px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:480px;
  top:684px;
  width:48px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:84px;
}
#u104 {
  position:absolute;
  left:0px;
  top:24px;
  width:48px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:480px;
  top:600px;
  width:48px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:84px;
}
#u106 {
  position:absolute;
  left:0px;
  top:24px;
  width:48px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:480px;
  top:516px;
  width:48px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:84px;
}
#u108 {
  position:absolute;
  left:0px;
  top:24px;
  width:48px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:480px;
  top:432px;
  width:48px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:84px;
}
#u110 {
  position:absolute;
  left:0px;
  top:24px;
  width:48px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:480px;
  top:348px;
  width:48px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:84px;
}
#u112 {
  position:absolute;
  left:0px;
  top:24px;
  width:48px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:480px;
  top:852px;
  width:48px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:84px;
}
#u114 {
  position:absolute;
  left:0px;
  top:24px;
  width:48px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:480px;
  top:768px;
  width:48px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:84px;
}
#u116 {
  position:absolute;
  left:0px;
  top:24px;
  width:48px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:84px;
  width:540px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#1299F6;
  text-align:left;
  line-height:36px;
}
#u117_img {
  position:absolute;
  left:-3px;
  top:-2px;
  width:546px;
  height:90px;
}
#u118 {
  position:absolute;
  left:14px;
  top:24px;
  width:502px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:12px;
  top:96px;
  width:150px;
  height:60px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#1299F6;
  line-height:36px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u120 {
  position:absolute;
  left:85px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:6px;
  top:96px;
  width:354px;
  height:12px;
  overflow:hidden;
}
#u121_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:12px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u121_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:540px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:left;
  line-height:70px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:540px;
}
#u122_img.selected {
  left:-5px;
  top:-3px;
  width:394px;
  height:550px;
}
#u122.selected {
}
#u123 {
  position:absolute;
  left:24px;
  top:0px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:72px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:left;
  line-height:70px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:72px;
}
#u125 {
  position:absolute;
  left:24px;
  top:1px;
  width:228px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:0px;
  top:72px;
  width:276px;
  height:72px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:left;
  line-height:70px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:72px;
}
#u127 {
  position:absolute;
  left:24px;
  top:1px;
  width:228px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:0px;
  top:144px;
  width:276px;
  height:72px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:left;
  line-height:70px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:72px;
}
#u129 {
  position:absolute;
  left:24px;
  top:1px;
  width:228px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:0px;
  top:216px;
  width:276px;
  height:72px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:left;
  line-height:70px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:72px;
}
#u131 {
  position:absolute;
  left:24px;
  top:1px;
  width:228px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:0px;
  top:288px;
  width:384px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:left;
  line-height:70px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:384px;
  height:86px;
}
#u133 {
  position:absolute;
  left:24px;
  top:7px;
  width:336px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:300px;
  top:288px;
  width:84px;
  height:84px;
  overflow:hidden;
}
#u135_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u135_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#7D7D7D;
  text-align:center;
  line-height:38px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u137 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u135_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u135_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#1299F6;
  text-align:center;
  line-height:38px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u139 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:300px;
  top:288px;
  width:84px;
  height:84px;
  font-family:'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:30px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u140_img.mouseDown {
}
#u140.mouseDown {
}
#u140_img.disabled {
}
#u140.disabled {
  opacity:0.100000001490116;
}
#u141 {
  position:absolute;
  left:24px;
  top:34px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:0px;
  top:372px;
  width:384px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:left;
  line-height:70px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:384px;
  height:86px;
}
#u143 {
  position:absolute;
  left:24px;
  top:7px;
  width:336px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:300px;
  top:372px;
  width:84px;
  height:84px;
  overflow:hidden;
}
#u145_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u145_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#7D7D7D;
  text-align:center;
  line-height:38px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u147 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u145_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u145_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#1299F6;
  text-align:center;
  line-height:38px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u149 {
  position:absolute;
  left:0px;
  top:23px;
  width:84px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:300px;
  top:372px;
  width:84px;
  height:84px;
  font-family:'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:30px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u150_img.mouseDown {
}
#u150.mouseDown {
}
#u150_img.disabled {
}
#u150.disabled {
  opacity:0.100000001490116;
}
#u151 {
  position:absolute;
  left:24px;
  top:34px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:0px;
  top:456px;
  width:384px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:left;
  line-height:70px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:384px;
  height:86px;
}
#u153 {
  position:absolute;
  left:24px;
  top:7px;
  width:336px;
  word-wrap:break-word;
}
#u154 {
  position:fixed;
  left:50%;
  margin-left:-270px;
  top:-1px;
}
#u154_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u154_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#4C4C4C;
  text-align:left;
  line-height:36px;
}
#u155_img {
  position:absolute;
  left:-3px;
  top:-2px;
  width:546px;
  height:90px;
}
#u156 {
  position:absolute;
  left:108px;
  top:24px;
  width:408px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:12px;
  top:12px;
  width:60px;
  height:60px;
  font-family:'icomoon', 'icomoon';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#7D7D7D;
  text-align:center;
  line-height:36px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u158 {
  position:absolute;
  left:0px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:454px;
  top:11px;
  width:49px;
  height:54px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:54px;
}
#u160 {
  position:absolute;
  left:2px;
  top:19px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:494px;
  top:39px;
  width:32px;
  height:32px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:32px;
}
#u161_img {
  position:absolute;
  left:-6px;
  top:-3px;
  width:44px;
  height:44px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:1068px;
  overflow:hidden;
  visibility:hidden;
}
#u164_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:1068px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u164_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:1068px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:left;
  line-height:23px;
}
#u165_img {
  position:absolute;
  left:-7px;
  top:-23px;
  width:486px;
  height:1098px;
}
#u166 {
  position:absolute;
  left:24px;
  top:526px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:204px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
  line-height:30px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:204px;
}
#u168 {
  position:absolute;
  left:24px;
  top:164px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:24px;
  top:24px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#1299F6;
  line-height:15px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u170 {
  position:absolute;
  left:12px;
  top:40px;
  width:72px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:0px;
  top:372px;
  width:456px;
  height:72px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:left;
  line-height:23px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:72px;
}
#u171_img.mouseOver {
}
#u171.mouseOver {
}
#u172 {
  position:absolute;
  left:24px;
  top:24px;
  width:408px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:0px;
  top:300px;
  width:456px;
  height:72px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:left;
  line-height:23px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:72px;
}
#u173_img.mouseOver {
}
#u173.mouseOver {
}
#u174 {
  position:absolute;
  left:24px;
  top:24px;
  width:408px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:0px;
  top:228px;
  width:456px;
  height:72px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#4C4C4C;
  text-align:left;
  line-height:23px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:72px;
}
#u175_img.mouseOver {
}
#u175.mouseOver {
}
#u176 {
  position:absolute;
  left:24px;
  top:24px;
  width:408px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:0px;
  top:444px;
  width:456px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4C4C4C;
  text-align:left;
  line-height:30px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:456px;
  height:86px;
}
#u178 {
  position:absolute;
  left:24px;
  top:27px;
  width:408px;
  word-wrap:break-word;
}
